.fighter{
    width: 5%;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    border-right: 1px solid rgba(0,0,0,0.1);
}
.fighter:nth-child(20n + 1) {
    border-left: 1px solid rgba(0,0,0,0.1);
}
.fighter:nth-child(-n+20){
    border-top: 1px solid rgba(0,0,0,0.1);
}
.fighter:hover{
    border: 1px solid red;
}
.fighter{
    position: relative;
}
.player1::before{
    content: 'player 1';
    position: absolute;
    top: 0;
    width: 100%;
}
.player2::after{
    content: 'player 2';
    position: absolute;
    bottom: 0;
    width: 100%;
}