.scene{
    width: 100%;
    height: 500px;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.fighters{
    display: flex;
    flex-wrap: wrap;
}